<h1>Add a new item</h1>

<form action="/add" method="post">

  <div>
    <label for="link_url">Link URL</label>
    <input id="link_url" type="text" name="link_url_param">
  </div>

  <div>
    <label for="link_des">Link Description</label>
    <input id="link_des" type="text" name="link_description_param">
  </div>

  <div>
    <label for="thumb">Thumbnail URL</label>
    <input id="themb" type="text" name="thumbnail_url_param">
  </div>

<button>Create item</button>

</form>
